footer {
    margin-bottom: 52px;
}

.footer-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
}

svg path {
    fill: #ffffff;
}

.footer-link {
    margin: 0 8px 12px;
    font-size: 12px;
    color: #737373;
    &:hover {
        text-decoration: underline;
    }
}

.footer-copyright {
    font-size: 12px;
    color: #737373;
    & svg {
        transform: rotate(180deg);
    }
}

footer > div:nth-of-type(2) > span {
    margin-left: 16px;
}