.board-list-container {
    box-sizing: border-box;
    padding: 20px 40px;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.board-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 250px;
    background-color: #fafafa;
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 10px 5px #eeeeee44;
    }
}

.board-header {
    & > h1 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        cursor: default;
    }
}

.board-main {
    flex-grow: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}